<%= form_with model: [@movie, @review], local: true do |f| %>

    <%= render "shared/errors", object: @review%>

    <%= f.label :body %>
    <%= f.text_area :body, size: "60x20" %>

    <%= f.label :stars %>
    <% Review::STARS.each do |star| %>
        <span class="star">
        <%= f.radio_button :stars, star %>
        <%= label_tag star %>
        </span>
    <% end %>
    <%= f.submit %>
<%end%>